.button {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	margin-right: 8px;
	background: var(--button-background, #00000080);
	color: var(--text, #ffffff);
	padding: 12px;
	border: solid 1px var(--button-border, #808080);
	border-radius: 16px;
	font-size: small;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	cursor: pointer;
}

.button:hover {
	background: var(--button-hover, #e6e6e699);
}

.primary {
	background: rgba(100, 41, 176, 0.5);
}

.primary:hover {
	background: rgba(144, 81, 227, 0.5);
}
