.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.optional {
	background: #ffffff00;
	font-size: 11px;
}

.optional:hover {
	background: var(--chapter-opt-background, #e6e6e699);
}

.chapter {
	flex-direction: column;
	min-width: 160px;
}

.mini {
	min-width: 100px;
}

.locked {
	cursor: not-allowed;
}

.verticalLine {
	width: 2px;
	height: 8px;
	border-radius: 8px;
	background: var(--chapter-tree-line, #ffffff);
}

.horizontalLines {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.horizontalLinesRightOnly {
	justify-content: end;
}

.horizontalLineRight {
	width: 50%;
	height: 2px;
	border-radius: 8px;
	background: var(--chapter-tree-line, #ffffff);
	align-self: end;
}

.horizontalLineLeft {
	width: 50%;
	height: 2px;
	border-radius: 8px;
	background: var(--chapter-tree-line, #ffffff);
	align-self: start;
}
