.container {
	background: var(--primary-translucent, #2e3c49ee);
	width: 75%;
	max-height: 75%;
	position: absolute;
	top: 56px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 12px;
	padding-bottom: 0;
	border-radius: 8px;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	z-index: 10;
	user-select: none;

	display: flex;
	flex-direction: column;
}

.input {
	box-shadow: inset 16px 16px 16px var(--neutral-shadow1, #00000013),
		0 0 16px var(--neutral-shadow2, #c8c8c899) !important;
}

.results {
	margin-top: 8px;
	margin-bottom: 8px;
	flex: 1;
	overflow-y: auto;
	padding-right: 8px;
}

.result {
	margin-top: 8px;
	border-radius: 4px;
	padding: 4px 8px;
	background: var(--primary-alt, #505a69);
	border: 1px solid var(--primary-medium, #577295);
	color: var(--text-dim, #b7bbc7);
	cursor: pointer;
	flex: 1;

	white-space: nowrap;
	overflow: hidden;
}

.path {
	color: var(--text-dim-alt, #a5b0ba);
}

.pathStart {
	margin-left: 8px;
}

.highlight {
	color: var(--text-highlight, #d7d6ff);
	font-weight: bold;
}

.selected {
	background: var(--primary-alt-light, #697992);
}

.tree {
	margin-top: 24px;
	flex: 1;
}

.treeLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
