.gamepad {
	display: flex;
	flex-direction: column;
	background: #0e0e0e !important;
}

.box {
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #555;
	background: #2e2e2e72;
	min-width: 120px;
	align-items: center;
	justify-content: center;
}

.dpad {
	display: grid;
	grid-template-columns: repeat(3, 36px);
	grid-template-rows: repeat(3, 32px);
	padding: 4px;
	padding-right: 8px;
}

.startSelect {
	display: flex;
	min-width: 120px;
	justify-content: center;
	align-items: center;
}

.ab {
	display: flex;
	padding: 8px;
	min-width: 120px;
	justify-content: center;
	align-items: center;
}

.longButton {
	width: 48px;
}

.redButton {
	background: #f03a17 !important;
	border-radius: 32px;
}

.mainGamepad {
	display: flex;
	flex: 1;
	display: flex;
	gap: 12px;
	align-items: center;
}

.mainButtons {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.lr {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}
