.icon {
	cursor: pointer;
	color: var(--icon-button, #ffffff);
}

.inline {
	margin-bottom: 3px;
	margin-right: 8px;
}

.inline:hover {
	color: var(--icon-button-hover, #466a8e);
}

.inlinenomargin {
}

.inlinenomargin:hover {
	color: var(--icon-button-hover, #466a8e);
}

.disabled {
	background: var(--fab-disabled, #929292) !important;
	cursor: not-allowed;
}

.rounded {
	background: var(--fab-background, #7792b2);
	color: var(--fab-inner, #252525);
	border-radius: 50%;
	padding: 16px 20px 18px 20px;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
}

.rounded:hover {
	background: var(--fab-hover, #9bc0e9);
}
