.progressList {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.level {
	border-width: 1px;
	border-color: var(--bar-border, #ffffff);
	border-style: solid;
	width: 100%;
	height: 8px;
	background-color: var(--bar-background, #ecf0f1);
	text-align: center;
	margin: 0 1px 0 1px;
	border-radius: 2px;
	cursor: pointer;
}

.level:hover {
	filter: brightness(2);
}

.success {
	background-color: var(--success, #5cb85c);
}

.failure {
	background-color: var(--failure, #d9534f);
}

.unlocked {
	background-color: var(--unlocked, #b8a7e8);
}

.locked {
	background-color: var(--locked, #acacac);
	cursor: not-allowed;
}

.selected {
	filter: brightness(2) drop-shadow(0px 0px 4px var(--highlight, #ffffff));
}

.selected:hover {
	filter: brightness(4) drop-shadow(0px 0px 4px var(--highlight, #ffffff));
}

.highlight {
	background-color: var(--bar-highlight, #27afd7);
}

.unlocksGame:before {
	content: "👾" !important;
	position: relative;
	top: -5px;
}

.tooltip {
	text-align: center;
}

.unlocksText {
	color: var(--text-neutral-dark, #808080);
	font-size: x-small;
}

.unlockableName {
	color: var(--primary, #466a8e);
	font-size: x-small;
}
