.container {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	background-color: var(--background-ui, #18181a);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #ffffff00;
	color: var(--text-tab, #b3c6df);
	height: 40px; /* (tied to HorizontalDragList.js) */
}

.container:hover,
.dragging {
	filter: brightness(1.5);
}

.active {
	background-color: var(--background-ui-selected, #2b323a);
	border-top: 1px solid var(--primary-medium, #577295);
	border-left: 1px solid var(--primary-medium, #577295);
	border-right: 1px solid var(--primary-medium, #577295);
	border-bottom: 1px solid var(--primary-medium, #577295);
}

.title {
	overflow: hidden;
	white-space: nowrap;
}

.pinButton {
	margin-left: 6px;
	margin-right: -2px;
}

.closeButton {
	margin-left: 6px;
	margin-right: 2px;
}
