.toggableButton {
	flex: 1;
	margin-left: 8px;
	margin-right: 8px;
}

.toggableButton .buttonGroup {
	display: flex;
	flex: 1;
}

.toggableButton :global(.btn-group) {
	width: 100%;
	display: flex;
}

.toggableButton :global(.btn-group > .btn) {
	flex: 0 0 auto !important;
}

.toggableButton :global(.btn-group > .btn:not(.dropdown-toggle-split)) {
	flex: 1 1 auto !important;
}

.toggableButton :global(.btn) {
	background: var(--button-background, #00000080) !important;
	color: var(--text, #ffffff) !important;
	border: solid 1px var(--button-border, #808080) !important;
	border-radius: 16px !important;
	padding: 12px !important;
	font-size: small !important;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899) !important;
}

.toggableButton :global(.btn:hover) {
	background: var(--button-hover, #e6e6e699) !important;
}

.toggableButton :global(.dropdown-toggle-split) {
	padding-left: 8px !important;
	padding-right: 8px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.toggableButton :global(.btn-group > .btn:not(.dropdown-toggle-split)) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.toggableButton :global(.dropdown-menu) {
	background-color: var(--button-background, #00000080) !important;
	color: var(--text, #ffffff) !important;
	border: solid 1px var(--button-border, #808080) !important;
}

.toggableButton :global(.dropdown-item) {
	color: var(--text, #ffffff) !important;
}

.toggableButton :global(.dropdown-item:hover) {
	background: var(--button-hover, #e6e6e699) !important;
}
