.container {
	height: 100%;
}

.ui {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	transform-origin: top center;
	user-select: none;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.button {
	display: flex;
	flex: 1;
}

.box {
	background: rgba(30, 30, 30, 0.5);
	padding: 12px;
	border: solid 1px gray;
	border-radius: 16px;
	font-size: 11px;
	text-align: justify;
	box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(200, 200, 200, 0.6);
}

.closeButton {
	position: fixed;
	top: 8px;
	right: 9px;
	z-index: 999;
}
