.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	animation: fadein 5s;
	image-rendering: pixelated;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bar {
	width: 100%;
	height: 41.5px; /* (tied to HorizontalDragList.js and Tab.module.css) */
	border-width: 0 0 1px;
	border-style: solid;
	border-color: var(--neutral-border, #a9a9a9);
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	font-family: "Courier New", Courier, monospace;
	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	padding-right: 48px;
	font-size: small;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	border-radius: 0;
	overflow: hidden;
	background: black;
	image-rendering: pixelated;
}

.stream {
	position: relative;
	width: 100%;
	height: 100%;

	animation: noise 5s infinite, zoomloop 5s infinite;
	image-rendering: pixelated;
}

.zoom {
	animation: zoomin, zoomloop infinite;
	animation-duration: 0s, 5s;
	animation-delay: 0s, 0s;
	transform: scale(1);
}

:root {
	--zoom: 1.8;
	--pivot-x: 54%;
	--pivot-y: 29%;
}

.megazoom {
	animation: megazoomin 1s;
	transform-origin: var(--pivot-x) var(--pivot-y);
	transform: translate(
			calc((50% - var(--pivot-x)) * (1 - 1 / var(--zoom))),
			calc((50% - var(--pivot-y)) * (1 - 1 / var(--zoom)))
		)
		scale(var(--zoom));
}

.megazoomout {
	animation: megazoomout, zoomloop infinite;
	transform-origin: var(--pivot-x) var(--pivot-y);
	animation-duration: 1s, 5s;
	animation-delay: 0s, 1s;
	transform: scale(1);
}

@keyframes noise {
	0% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	10% {
		filter: brightness(99%) contrast(101%) saturate(99%);
	}
	20% {
		filter: brightness(101%) contrast(99%) saturate(101%);
	}
	30% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	40% {
		filter: brightness(99%) contrast(101%) saturate(99%);
	}
	50% {
		filter: brightness(101%) contrast(99%) saturate(101%);
	}
	60% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	70% {
		filter: brightness(99%) contrast(101%) saturate(99%);
	}
	80% {
		filter: brightness(101%) contrast(99%) saturate(101%);
	}
	90% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	100% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
}

@keyframes zoomin {
	100% {
		transform: scale(1);
	}
}

@keyframes zoomloop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes megazoomin {
	0% {
		transform: scale(1) translateX(0) translateY(0);
	}
	100% {
		transform: translate(
				calc((50% - var(--pivot-x)) * (1 - 1 / var(--zoom))),
				calc((50% - var(--pivot-y)) * (1 - 1 / var(--zoom)))
			)
			scale(var(--zoom));
	}
}

@keyframes megazoomout {
	0% {
		transform: translate(
				calc((50% - var(--pivot-x)) * (1 - 1 / var(--zoom))),
				calc((50% - var(--pivot-y)) * (1 - 1 / var(--zoom)))
			)
			scale(var(--zoom));
	}
	100% {
		transform: scale(1) translateX(0) translateY(0);
	}
}

.backgroundImage {
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;
}

.pointLight {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	animation: lightflicker 3s infinite;
}

.megazoom .pointLight {
	animation: none;
}

@keyframes lightflicker {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}

.spinnerContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid var(--neutral-superlight, #ffffff);
	border-top: 5px solid var(--primary-light, #6f8fb9);
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
