.container {
	height: 100%;
	background-color: var(--background-code, #111111);
	position: relative;
}

.editor {
	height: 100%;
}

.debugger {
	position: absolute;
	bottom: 28px;
	right: 16px;
	z-index: 1;
}

.spinner {
	position: absolute;
	bottom: 28px;
	right: 36px;
	z-index: 1;
	animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
