.topContainer {
	width: 100%;
	height: 100%;
}

.topContainer:focus {
	outline: none;
}

.container {
	height: 100%;
	user-select: none;
	color: var(--text, #ffffff);
	font-family: "Courier New", Courier, monospace;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;
	transform-origin: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name {
	color: var(--cpu-debugger-name, #9bc0e9) !important;
}

.registers {
	width: 125px !important;
	text-align: center;
}

.flags {
	text-align: center;
	margin-bottom: 0 !important;
}

.memory {
	width: 0px !important;
	margin-left: 16px !important;
	font-size: x-small;
	white-space: nowrap;
	text-align: center;
	margin-bottom: 0 !important;
}

.selectedCell {
	animation: selectedCellLoop infinite 1s;
}

@keyframes selectedCellLoop {
	0% {
		transform: scale(1);
		filter: sepia(0);
	}
	50% {
		transform: scale(1.25);
		filter: sepia(1);
	}
	100% {
		transform: scale(1);
		filter: sepia(0);
	}
}

.sentence {
	color: var(--cpu-debugger-sentence, #c678dd);
}

.sentenceByteCount {
	color: var(--text-neutral-dark, #808080);
	font-size: x-small;
}

.message {
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: x-large;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
}
