.container {
	height: 100%;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

.container:focus {
	outline: none;
}

.innerContainer {
	height: 100%;
	-webkit-transition: 1s -webkit-filter linear;
	-moz-transition: 1s -moz-filter linear;
	-moz-transition: 1s filter linear;
	-ms-transition: 1s -ms-filter linear;
	-o-transition: 1s -o-filter linear;
	transition: 1s filter linear, 1s -webkit-filter linear;
}

.tabs {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--background-code, #111111);
	border-bottom: solid 1px var(--primary-medium, #577295);
	overflow: hidden;
	scroll-behavior: smooth;
}

.content {
	height: calc(100% - 41px);
}

.selected {
	filter: blur(0px);

	animation-duration: 0.25s;
	animation-name: select;
}

.unselected {
	filter: blur(2px);
	pointer-events: none;

	animation-duration: 0.25s;
	animation-name: unselect;
}

.empty {
	margin-top: 8px;
	margin-left: 8px;
	user-select: none;
	text-align: center;
}

.template {
	position: absolute;
	z-index: 1;
	top: 16px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--secondary-translucent-dark, #a67f35cc);
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	border-radius: 8px;
	padding: 16px;
	user-select: none;
	cursor: pointer;
	text-align: center;
}

.templateClick {
	font-size: 14px;
}

.template:hover {
	background-color: var(--secondary-translucent-light, #e3ae49cc);
}

@keyframes select {
	from {
		filter: blur(2px);
	}

	to {
		filter: blur(0px);
	}
}

@keyframes unselect {
	from {
		filter: blur(0px);
	}

	to {
		filter: blur(2px);
	}
}

.tabButton {
	margin-left: 8px;
}
