.topContainer {
	width: 100%;
	height: 100%;
}

.topContainer:focus {
	outline: none;
}

.container {
	height: 100%;
	user-select: none;
	color: var(--text, #ffffff);
	font-family: "Courier New", Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform-origin: center;
	padding: 24px 12px;
}

.container table {
	height: 100%;
	display: flex;
	flex: 1;
	overflow: auto;
	font-size: 12px;

	border: 1px solid var(--primary-medium, #577295);
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.titles {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: var(--primary-superdark, #2e303c);
	border: 1px solid var(--primary-medium, #577295);
	border-bottom: 0px;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.title {
	flex: 1;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

.message {
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: x-large;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
}

.boss {
	animation: monster 1s infinite;
}

@keyframes monster {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
	}
}

.debugger {
	position: absolute;
	bottom: 28px;
	right: 16px;
	z-index: 1;
}
