@keyframes flicker {
	0% {
		opacity: 0.93774;
	}
	5% {
		opacity: 0.46284;
	}
	10% {
		opacity: 0.60931;
	}
	15% {
		opacity: 0.11454;
	}
	20% {
		opacity: 0.71232;
	}
	25% {
		opacity: 0.36761;
	}
	30% {
		opacity: 0.01071;
	}
	35% {
		opacity: 0.03038;
	}
	40% {
		opacity: 0.69063;
	}
	45% {
		opacity: 0.89776;
	}
	50% {
		opacity: 0.94394;
	}
	55% {
		opacity: 0.27182;
	}
	60% {
		opacity: 0.36769;
	}
	65% {
		opacity: 0.69672;
	}
	70% {
		opacity: 0.34962;
	}
	75% {
		opacity: 0.85437;
	}
	80% {
		opacity: 0.64358;
	}
	85% {
		opacity: 0.30387;
	}
	90% {
		opacity: 0.51786;
	}
	95% {
		opacity: 0.78824;
	}
	100% {
		opacity: 0.69383;
	}
}
.crt {
	background: var(--background-crt, #121010);
	position: relative;
	overflow: hidden;
}

.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
			var(--crt-gradient1, #12101000) 50%,
			var(--crt-gradient2, #00000040) 50%
		),
		linear-gradient(
			90deg,
			var(--crt-gradient3, #ff00000f),
			var(--crt-gradient4, #00ff0005),
			var(--crt-gradient5, #0000ff0f)
		);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

/*
.crt::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: var(--background-crt-after, #1210101a);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
}

.crt::after {
	animation: flicker 0.15s infinite;
}
*/
