.modalContent {
	background-color: var(--modal-background, #373737cc) !important;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	user-select: none;
}

.floating {
	position: absolute;
	top: 16px;
	right: 16px;
}

.levelMap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chapterRow {
	display: flex;
	flex-direction: row;
}

.verticalLine {
	width: 2px;
	height: 8px;
	border-radius: 8px;
	background: var(--chapter-tree-line, #ffffff);
}

.psa {
	text-align: center;
	margin-top: 16px;
	font-size: small;
	color: var(--warning, #e8a931);
	background: var(--modal-accent, #dcdcdc29);
	border-radius: 16px;
	padding: 8px;
}
