.modalContent {
	background-color: var(--modal-background, #373737cc) !important;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	user-select: none;
}

.modalBody {
	display: flex;
	flex-direction: column;
}

.level {
	margin-bottom: 8px;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.current {
	background: var(--primary-dark, #1c3554);
	filter: brightness(2);
}

.chapter {
	margin-right: 8px;
}

.time {
	text-align: right;
	font-size: x-small;
	margin-bottom: 8px;
}
